// content wrappers
// -----------------------------------------

.window {
  display: block;
  width: $page_width;
  max-width: $max_width;
  text-align: center;
  margin: 0 auto;
  }

main,
section,
article {
  text-align: left;
  }

section {
  margin: 2em 0;
  }
